* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.bgImg {
  background-image: url("/kingone-design/Images/bgImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bgContainer {
  position: relative;
}

.leftArrow {
  position: absolute;
  top: 3%;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}

.logo {
  position: absolute;
  left: 28%;
  top: 6%;
  width: 9%;
}

.title {
  position: absolute;
  top: 7%;
  right: 19%;
  font-size: 2rem;
  width: 40%;
  font-weight: 800;
  letter-spacing: 1rem;
}

@media (max-width: 1300px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 0.8rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}

@media (max-width: 568px) {
  .title {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }
}

.en-title {
  position: absolute;
  top: 12%;
  right: 25%;
  font-size: 1.75rem;
  width: 30%;
  font-weight: 800;
}

@media (max-width: 1300px) {
  .en-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  .en-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 568px) {
  .en-title {
    font-size: 0.4rem;
    width: 50%;
    right: 12%;
  }
}

.wallImg {
  position: absolute;
  left: 4%;
  top: 43%;
  width: 11%;
}

.mainImg {
  position: absolute;
  left: 23%;
  top: 41%;
  width: 49.7%;
}

.boardImg {
  position: absolute;
  right: 4%;
  top: 45%;
  width: 18%;
}

.tag {
  position: absolute;
  top: 44%;
  right: 6%;
  border-radius: 5px;
  padding: 0.8rem 0.5rem;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0e4dc2fb), to(#93f8f0));
  background-image: linear-gradient(to bottom, #0e4dc2fb, #93f8f0);
}

@media (max-width: 768px) {
  .tag {
    display: none;
  }
}

.board-content {
  position: absolute;
  right: 4%;
  top: 45%;
  width: 18%;
  padding: 2rem 1.5rem;
}

@media (max-width: 1300px) {
  .board-content {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 768px) {
  .board-content {
    padding: 0.8rem;
  }
}

.board-content li {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .board-content li {
    margin-bottom: 0.2rem;
  }
}

.board-content span {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .board-content span {
    display: none;
  }
}

.info {
  background-image: -webkit-gradient(linear, left top, right top, from(#0d48b6fb), to(#88f3cf));
  background-image: linear-gradient(to right, #0d48b6fb, #88f3cf);
  border: none;
  border-radius: 10px;
  padding: 0.2rem;
  text-align: center;
  font-size: 1.25rem;
  color: white;
  width: 40%;
}

@media (max-width: 1300px) {
  .info {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .info {
    width: 70%;
    font-size: 0.4rem;
    display: block;
  }
}

.handImg {
  position: absolute;
  width: 3.5%;
  top: 92%;
  right: 35%;
}

.btn {
  position: absolute;
  top: 86%;
  left: 40%;
  width: 25%;
  background-image: -webkit-gradient(linear, left top, right top, from(#0d48b6fb), to(#88f3cf));
  background-image: linear-gradient(to right, #0d48b6fb, #88f3cf);
  border: none;
  border-radius: 100px;
  padding: 1.5rem;
  text-align: center;
  font-size: 30px;
  color: white;
}

@media (max-width: 1300px) {
  .btn {
    width: 35%;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 50%;
    left: 30%;
    font-size: 24px;
    padding: 0.3rem;
  }
}

@media (max-width: 568px) {
  .btn {
    font-size: 20px;
  }
}

.btn span {
  margin-left: 10px;
}
